<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>
    <link href="{% static 'assets/css/jquery.multiselect.css' %}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'assets/js/jquery.multiselect.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <title>NEWS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/structure.css' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="colorlib.com">
    <link href="{% static 'assets/css/search/css/main.css' %}" rel="stylesheet">
</head>
<script type="text/javascript">
    $(function () {
        $('#findNews').submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                url: '/getNewsList/?page=1',
                data: $(this).serializeArray(),
                success: function (data) {
                    $('#newsList').html(data);
                },
                error: function (xhr, status, e) {
                    console.log(status, e)
                }
            });
        });
        $('#langOpt').multiselect({
            maxHeight: "30%",
            maxWidth: "30%",
            selectAll: true,
            columns: 3,
            checked: true,
        });
    });

</script>

<title>News</title>

<body style="overflow: visible;">

<div id="preloader" style="display: none;">
    <div id="status" style="display: none;">&nbsp;</div>
</div>
{% block content %}
    <div class="s006">
        <form method="get" id="findNews">
            <select name="categories" multiple id="langOpt">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <div class="inner-form">
                <div class="input-field">
                    <button class="btn-search" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                        </svg>
                    </button>
                    <input id="search" type="text" placeholder="Search" name="namesTags" value="">
                </div>
            </div>
        </form>
    </div>
    <div id="newsList">
        {% include 'newsBody.html' %}
    </div>
    <script type="text/javascript">
        vals = []
        {% for category in categories %}
            vals.push({{ category.id }})
        {% endfor %}
        $('#langOpt').val(vals)
        $("#langOpt").selectmenu('refresh');
    </script>
{% endblock %}

</body>
</html>